


body {background-image: url("https://p4.wallpaperbetter.com/wallpaper/560/237/180/porco-rosso-studio-ghibli-anime-wallpaper-preview.jpg");


background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}
p {font-style:normal;

font-size: 25px;


}
